.min-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin: 4px;
}
.calculadora{
    min-width: 200px;
    border-radius: 32px;
}
.cont-general{
    height: 100vh
}

.display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    height: 60px;
}


@media screen and (max-width:800px){
    .cont-general{
    height: 100%;
    }
}